body{
    background: #e75a5a;
    width: 100%;
    height: 100%;
}
.credentials-wrap {
    height: 12.07rem;
    width: 100%;
    background: url("../img/bg3.jpg");
    background-size: cover;
}
.credentials-title {
    font-weight: 900;
    font-size: .34rem;
    color: #fff;
    padding: .44rem 0 0 .56rem;
    margin-bottom: 2.54rem;
}
.credentials-note {
    color: #fff;
    font-size: .24rem;
    line-height: .4rem;
    padding: 0 .68rem;
    margin-top: .43rem;
}
/*延保卡*/
.card {
    width: 6.4rem;
    height: 4.53rem;
    background: url(../img/card-bg.png);
    background-size: cover;
    color: #b99753;
    margin: 0 auto;
    box-shadow: 0.04rem 0px 0.4rem #000;
    border-radius: .1rem;
    position: relative;
}
.card img {
    position: relative;
    width: 6.49rem;
    /*left: 0.03rem;*/
    /*height: 4.53rem;*/
    /*width: 100%;*/
}
.card-serial{
    position: absolute;
    top: 1.15rem;
    left: .3rem;
    font-weight: 600;
    z-index: 10;
    font-size: 0.30rem;
    line-height: 1;
}
.card-msg{
    position: absolute;
    top: 2.8rem;
    left: .22rem;
    font-size: .24rem;
    line-height: 1.2;
}