body {
	height: 100%;
	width: 100%;
	background: #010f14;
}
.mywarranty-wrap {
	height: 12.06rem;
	width: 100%;
	background: url(../img/bg5.jpg);
	background-size: contain;
}
.mywarranty-phone, .mywarranty-count {
	font-size: .24rem;
	color: #fff;
	padding-left: .35rem;
	line-height: .35rem;
}
.mywarranty-phone {
	padding-top: .08rem;
}
.mywarranty-title{
	margin-top: 1.35rem;
	font-size: .51rem;
	font-weight: 900;
	color: #fff;
	padding-left: .4rem;
	margin-bottom: 1.33rem;
}
.card-list {
	width: 100rem;
	position: absolute;
	top: 0;
}
.card-item {
	width: 5.48rem;
	margin-left: .34rem;
	float: left;
}
.card-item:first-child {
	margin-left: 0;
}
.card-item a{
	width: 100%;
	height: 100%;
	display: block;
}
/*延保卡*/
.card {
	width: 5.47rem;
	height: 3.86rem;
	background: url(../img/card-bg.png);
	background-size: cover;
	color: #b99753;
	margin: 0 auto;
	box-shadow: 0.04rem 0px 0.4rem #000;
	border-radius: .1rem;
	position: relative;
}
.card .card-serial {
	color: #b99753;
}
.card img {
	position: relative;
	width: 5.47rem;
}
.card-serial{
	position: absolute;
	top: .99rem;
	left: .3rem;
	font-weight: 600;
	z-index: 10;
	font-size: .25rem;
}
.card-msg{
	position: absolute;
	top: 2.20rem;
	left: .18rem;
	font-size: .16rem
}
.card-details {
	background: #d8d5d5;
	text-align: center;
	color: #000;
	font-size: .25rem;
	padding:.75rem 0 .7rem;
	line-height: .4rem;
}
/*轮播图*/
.swiper-box{
	overflow: hidden;
	position: relative;
	height: 7.45rem;
}


.point-list {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 2.84rem;
}
.point-item{
	height: .26rem;
	width: .26rem;
	background: #c0c5c7;
	border-radius: .13rem;
	margin-right: .54rem;
}
.point-item.active{
	background: #ffffff
}

